{{ $unique_id := substr (md5 .Inner) 0 16 }}

<div id="spoiler_main">
    <div id="spoiler_{{$unique_id}}">
        <div class="titlebar">
            <div class="title">{{ .Get `text` }}</div>
            <div class="button" onclick="spoiler_show('{{$unique_id}}');"><img src="{{ .Site.BaseURL }}wxp/ui/spoiler_open.png"></div>
        </div>
        <div class="content">
            {{ .Inner }}
        </div>
    </div>
</div>

<script>
    function spoiler_show(id){
        var box = document.querySelector('#spoiler_' + id + ' .content');
        var close = document.querySelector('#spoiler_' + id + ' .titlebar .button img');
        if(box.style.display == "block"){
            box.style.display = "none";
            close.src = "{{ .Site.BaseURL }}wxp/ui/spoiler_open.png";
        } else {
            box.style.display = "block";
            close.src = "{{ .Site.BaseURL }}wxp/ui/spoiler_close.png";
        }
    }
</script>