<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body>
        <div id="desktop">
            {{ partial "clippy.html" . }}
            {{ partial "menu.html" . }}
            <div id="content">
                <div class="page">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
        </div>
        {{ partial "panel.html" . }}
        {{- partial "script.html" . -}}
        {{- block "script" . -}}{{ end }}
    </body>
</html>
