<div id="clippy" style="display: none;">
    <div class="content">
        
        <div class="msg">
            <p> 
                Vítej návštěvníku,
                <br><br>
                na stránkách najdeš mnoho naučného a zajímavého. Veškerý obsah najdeš pod tlačítkem v levém dolním roku <strong>MENU</strong>.
                <br><br>
                <strong>pan Sponka</strong>
                <br>
                <small>Virtuální specialista pro styk s veřejností</small>
            </p>
        </div>
        
        <div class="clip">
            <img src="{{ .Site.BaseURL }}wxp/ui/clippy2.gif" onclick="clippy('exit');">
        </div>

    </div>
</div>
