<div id="window" onresize="window_resize();" onmousemove="window_resize();">
    <div class="titlebar">
        <div class="title">{{ .Title }}</div>
        <div class="controls">
            <a  class="minimalize" href="#" onclick="window_minimalize();"><img src="{{ .Site.BaseURL }}wxp/ui/minimalize.png"></a>
            <a  class="maximalize" href="#" onclick="window_maximalize();"><img src="{{ .Site.BaseURL }}wxp/ui/maximalize.png"></a>
            <a  class="close" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}wxp/ui/close.png"></a>
        </div>
    </div>
    <div class="toolbar">
        <div class="main">
            {{ if .PrevPage }}
            <a class="backbutton" href="{{ .PrevPage.Permalink }}">
                <img src="{{ .Site.BaseURL }}wxp/ui/backbutton.png">
            </a>
            {{ end }}

            {{ if .NextPage }}
            <a class="nextbutton" href="{{ .NextPage.Permalink }}">
                <img src="{{ .Site.BaseURL }}wxp/ui/nextbutton.png">
            </a>
            {{ end }}
        </div>
        
        <div class="right">
            <!--
            <a class="printbutton" href="#" onclick="print();">
                <img src="{{ .Site.BaseURL }}wxp/icons/print.png">
            </a>
            -->
        </div>
    </div>
    <div class="address">
        <span>Umístění</span>
        <div class="location">
            {{ $cur_page := .Title }}
            {{ $cur_section := .Section }}
            {{ range (.Site.RegularPages.GroupBy "Section") }}
                {{ $cur_key := .Key }}
                {{ with $.Site.GetPage "section" .Key }}
                    {{ if eq $cur_section $cur_key }}
                        C:\{{ .Title }}\{{ $cur_page }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="content">
        <h2>{{ .Title }}</h2>
        <div class="split"></div>
        <article>{{ .Content }}</article>
    </div>
    <div class="information">
        
        {{ if .PublishDate }}
            <span>
            Publikováno: <strong>{{ .PublishDate | time.Format "02.01.2006 15:04:05" }}</strong>
            </span>
        {{ end }}

        {{ if .Len }}
            <span>
            Velikost: <strong>{{ .Len }} bajtů</strong>
            </span>
        {{ end }}

        {{ if .WordCount }}
            <span>
            Počet slov:  <strong>{{ .WordCount }}</strong>
            </span>
        {{ end }}

        {{ if .ReadingTime }}
            <span>
            Doba čtení: <strong>{{ .ReadingTime }} min</strong>
            </span>
        {{ end }}

    </div>
</div>