@font-face {
  font-family: "Fixedsys";
  src: url("/fonts/FSEX300.ttf") format('truetype');
}

* {
  margin: 0;
  font-family: "Fixedsys";
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --blue:   #0000A8;
  --silver: #A8A8A8;
  --black:  #000000;
  --green:  #00A8A8;
  --white:  #ffffff;
  --red:    #8E0E0E;
}

body {
  background: var(--blue);
  display: flex;
  justify-content: center;
  margin: 0px 18px 0px 18px;
}

a {
  text-decoration: none;
}

#main {
  width: 800px;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-bottom: 36px;
}

#main .container {
  display: flex;
  flex-direction: row;
}

#main .header-box,
#main .footer-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*
  HEADER
*/
#main .header-box .header {
  padding-bottom: 36px;
  width: 100%;
}

#main .header-box .header h1 {
  background: var(--green);
  box-shadow: var(--black) 18px 18px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

#main .header-box .header h1 a,
#main .header-box .header h1 a:hover,
#main .header-box .header h1 a:active {
  color: var(--white);
}

/*
  MENU
*/
#main .menu-box {
  margin-right: 36px;
}

#main .menu-box .menu {
  background: var(--silver);
  color: var(--black);
  box-shadow: var(--black) 18px 18px;
  padding: 7px 3px 8px 3px;
  margin-bottom: 36px;
}

#main .menu-box .menu ul,
#menu .menu-box .menu ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main .menu-box .menu ul {
  padding: 8px 1px 8px 1px;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
}

#main .menu-box .menu ul li {
  padding: 2px 9px 2px 9px;
  width: calc(100% - 18px);
}

#main .menu-box .menu ul li:hover,
#main .menu-box .menu ul li:hover a {
  background: var(--black);
  color: var(--silver)
}

#main .menu-box .menu ul li a {
  color: var(--black);
  display: block;
  text-align: center;
}

/*
  CONTENT
*/
#main .content-box,
#main .content-box .content {
  width: 100%;
}

#main .content-box .content .title-header {
  background: var(--silver);
  color: var(--black);
  box-shadow: var(--black) 18px 18px;
  margin-bottom: 36px;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#main .content-box .content article {
  background: var(--silver);
  box-shadow: var(--black) 18px 18px;
  margin-bottom: 36px;
}

#main .content-box .content article .title {
  background: var(--green);
  padding: 9px;
}

#main .content-box .content article .title span,
#main .content-box .content article .title a span {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

#main .content-box .content article .title,
#main .content-box .content article .title a {
  color: var(--black);
  font-weight: bold;
  display: block;
}

#main .content-box .content article .text {
  padding: 18px;
  width: calc(100% - 36px);
}

#main .content-box .content article .text p {
  text-align: justify;
  word-spacing:-2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#main .content-box .content article .text ol li p,
#main .content-box .content article .text ul li p {
  text-align: left;
}

#main .content-box .content article .image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .content-box .content article .image img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

#main .content-box .content article p {
  line-height: 30px;
}

#main .content-box .content article h1,
#main .content-box .content article h2,
#main .content-box .content article h3,
#main .content-box .content article h4 {
  padding-bottom: 1px;
  padding-top: 20px;
  color: var(--black);
  border-bottom: 1px solid var(--green);
  margin-bottom: 9px;
}

#main .content-box .content article .text a > img {
  background: var(--white);
  box-shadow: var(--green) 18px 18px;
  margin-bottom: 36px;
  width: calc(100% - 18px);
  border: 1px solid var(--black);
}

#main .content-box .content article .text a.link {
  background: var(--green);
  padding: 2px 5px 2px 5px;
  color: var(--black);
}

#main .content-box .content article .text a.link:hover {
  background: var(--black);
  color: var(--silver);
}
  

/*
  VIDEO
*/
#main .content-box .content article .text .embed_video iframe {
  aspect-ratio: 16 / 9;
  width: calc(100% - 36px);
  height: auto;
  box-shadow: var(--green) 18px 18px;
  border: 1px solid var(--black);
  margin-top: 0px;
  margin-left: 18px;
  margin-bottom: 36px;
}

#main .content-box .content article .text ul,
#main .content-box .content article .text ol {
  line-height: 30px;
}

#main .content-box .content article .text hr {
  border-bottom: 1px solid var(--green);
  margin: 18px 0;
}

#main .content-box .content article .text .codeblock {
  background: var(--white);
  color: var(--black);
  padding: 18px;
  width: calc(100% - 36px - 18px);
  overflow-x: auto;
  box-shadow: var(--black) 18px 18px;
  margin-bottom: 36px;
}

#main .content-box .content article .text .codeblock p {
  text-align: left;
}

/*
  SPOILER
*/
#spoiler_main {
  background: var(--green);
  box-shadow: var(--black) 18px 18px;
  margin-bottom: 36px;
  width: calc(100% - 18px);
}

#spoiler_main .content {
  display: none;
}

#spoiler_main .content .text {
  padding: 18px;
  background: var(--white);
  width: calc(100% - 36px);
}

#spoiler_main .titlebar {
  display: block;
  cursor: pointer;
}

/*
  GALLERY:
*/
#gallery ul li {
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gallery .album {
  text-align: center;
  padding: 0;
  margin: 0;
}

#gallery li img {
  width: 100px !important;
  height: 100px !important;
  box-shadow: var(--green) 5px 5px !important;
  object-fit: cover;
  margin-bottom: 0px !important;
}

#gallery-show {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  background: var(--black);
  display: none;
}

#gallery-show .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#gallery-show .content .image {
  flex: 1 0 auto;
  width: calc(100% - 40px);
  height: calc(100% - 50px - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#gallery-show .content .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*
  FOOTER
*/

#main .footer-box {
  width: 100%;
  margin-bottom: 18px;
}

#main .footer-box .footer {
  background: var(--green);
  box-shadow: var(--black) 18px 18px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  width: 100%;
}

/*
    BSOD
*/
#bsod {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--blue);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

#bsod .dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--red);
  color: var(--white);
  box-shadow: var(--black) 9px 18px;
  padding: 10px 5px;
  margin-left: 18px;
  margin-right: 18px;
}

#bsod .dialog .border {
  border: 1px solid var(--white);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bsod .dialog .border span {
  padding: 2px 5px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  text-wrap: nowrap;
  width: 100%;
}

#bsod .dialog .msg p {
  padding: 5px;
  text-align: center;
}

#bsod a,
#bsod a:hover,
#bsod a:active {
  color: var(--white);
}


/*
  MOBILE
*/
@media screen and (max-width: 600px) {
  #main {
    width: 100%;
    padding: 18px;
  }

  #main .container {
    flex-direction: column;
  }

  #main .menu-box {
    margin-right: 0;
  }

  #gallery li img {
    width: 70px !important;
    height: 70px !important;
  }
}