@font-face {
    font-family: "Fixedsys";
    src: url("/wxp/fonts/FSEX300.ttf") format('truetype');
}

* {
    margin: 0;
    font-family: "Trebuchet MS", "Tahoma";
    font-optical-sizing: auto;
    font-style: normal;
    cursor: url("/wxp/cur/cursor.png"), auto;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 16px;
    background: #FDFDFA;
}

::-webkit-scrollbar-button:single-button,
::-webkit-scrollbar-thumb  {
    background: #B2CFFB;
    border: 2px solid white;
}

::-webkit-scrollbar-thumb:vertical {
    background: #B2CFFB url("/wxp/ui/scrl_vertical_slider.png") no-repeat 100% 100%;
    background-position: center;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #B2CFFB url("/wxp/ui/scrl_horizontal_slider.png") no-repeat 100% 100%;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: url("/wxp/ui/scrl_arrow_up.png") no-repeat 100% 100%;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background: url("/wxp/ui/scrl_arrow_down.png") no-repeat 100% 100%;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background: url("/wxp/ui/scrl_arrow_left.png") no-repeat 100% 100%;
    background-position: center;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
    background: url("/wxp/ui/scrl_arrow_right.png") no-repeat 100% 100%;
    background-position: center;
}

a, a:hover, a:active {
    text-decoration: none;
    color: black;
}

body {
    background-position: center;
    background-size: cover;
    background-image: url("/wxp/ui/wallpaper.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#desktop {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    height: calc(100% - 30px);
}

#desktop #js_menu {
    height: 478px;
    display: flex;
    align-self: last baseline;
    flex-direction: column;
    border: 2px solid rgb(34,92,197);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 9999;
    position: fixed;
    bottom: 30px;
}

#js_menu .top {
    width: calc(100% - 20px);
    height: auto;
    background: rgb(34,92,197);
    background: linear-gradient(0deg, 
        rgba(34,92,197,1) 0%, 
        rgba(102,162,231,1) 2%, 
        rgba(57,128,217,1) 4%, 
        rgba(26,105,210,1) 6%, 
        rgba(71,146,236,1) 94%, 
        rgba(27,107,209,1) 97%);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 100;
}

#js_menu .top img {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 15px;
}

#js_menu .top h2 {
    font-size: 12pt;
}

#js_menu .split,
#window .content .split,
#window .content article hr {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, 
        rgba(255,255,255,1) 0%, 
        rgba(255,239,224,1) 25%, 
        rgba(251,143,41,1) 50%, 
        rgba(255,239,224,1) 75%,
        rgba(255,255,255,1) 100%);
    height: 3px;
    width: 100%;
    border: 0;
}

#js_menu .menu {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#js_menu .menu .rightside {
    background: #D3E5FA;
}

#js_menu .menu .leftside,
#js_menu .menu .rightside {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#js_menu .menu .leftside {
    width: auto;
}

#js_menu .menu .rightside {
    width: 100%;
    overflow-y: auto;
}

#js_menu .menu a {
    padding: 5px;
    padding-right: 15px;
    font-size: 10pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

#js_menu .menu a:hover {
    background: #316AC5;
    color: white;
    font-weight: bold;
}

#js_menu .menu a:hover,
#js_menu .menu a:hover img,
#js_menu .menu a:hover span {
    cursor: url("/wxp/cur/pointer.png"), pointer;
}

#js_menu .menu a img {
    width: 32px;
    height: 32px;
}

#js_menu .menu a span {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    text-wrap: nowrap;
}

#js_menu .bottom {
    width: 100%;
    height: auto;
    background: rgb(34,92,197);
    background: linear-gradient(180deg, 
        rgba(34,92,197,1) 0%, 
        rgba(102,162,231,1) 2%, 
        rgba(57,128,217,1) 4%, 
        rgba(26,105,210,1) 6%, 
        rgba(71,146,236,1) 94%, 
        rgba(27,107,209,1) 97%);
}

#js_menu .bottom p {
    padding: 10px;
    text-align: center;
    color:white;
}

#content {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

#content .page {
    max-width: 1000px;
    width: 100%;
    height: calc(100% - 60px);
    padding: 30px 30px 30px 30px;
    position: absolute;
}

#window {
    border: 2px solid #0019CF;
    border-radius: 17px 17px 5px 5px;
    background: #F1F0EA;
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
    width: calc(100% - 4px);
}

#window .titlebar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 11pt;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, 
        rgba(49,104,213,1) 2%, 
        rgba(56,136,233,1) 5%,
        rgba(73,147,230,1) 7%, 
        rgba(48,123,229,1) 12%, 
        rgba(40,106,221,1) 20%, 
        rgba(35,91,217,1) 85%, 
        rgba(25,65,165,1) 100%);
}

#window .titlebar .title {
    width: 100%;
}

#window .titlebar .close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

#window .titlebar .close:hover {
    cursor: url("/wxp/cur/pointer.png"), pointer;
}

#window .toolbar,
#window .toolbar .main,
#window .toolbar .right {
    display: flex;
    flex-direction: row;
}
#window .toolbar .main {
    width: 100%;
}

#window .toolbar,
#window .address {
    border-bottom: 1px solid #D8D2BD;
}

#window .toolbar div a {
    padding: 5px;
}

#window .toolbar div a img {
    cursor: url("/wxp/cur/pointer.png"), pointer;
    width: 24px;
    height: 24px;
    padding-right: 5px;
}

#window .toolbar a.printbutton {
    float: right;
}

#window .address {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#window .address span {
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 5px;
}

#window .address .location {
    width: 100%;
    min-height: 22px;
    border: 1px solid #7F9DB9;
    background: white;
    padding: 1px 5px;
    margin: 2px;
    font-size: 10pt;
    display: flex;
    align-items: center;
}

#window .content {
    overflow-y: auto;
    background: white;
    width: 100%;
    height: 100%;
}

#window .content h2 {
    background: #003399;
    color: white;
    padding: 10px;
}

#window .content article {
    padding: 10px;
}

#window .content article p {
    padding-bottom: 10px;
    padding-top: 10px;
}

#window .content article .image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#window .content article .image img {
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 10px;
}

#window .content article p em {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}

#window .content article .embed_video {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#window .content article .embed_video .film {
    width: 7%;
    max-width: 30px;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#window .content article .embed_video .film:first-child {
    border-radius: 15px 0 0 15px;
}

#window .content article .embed_video .film:last-child {
    border-radius: 0 15px 15px 0;
}

#window .content article .embed_video iframe {
    flex: 1 0 auto;
    aspect-ratio: 16 / 9;
    width: calc(100% - 14%);
}

#window .content article h1 {
    background: rgb(0,51,153);
    background: linear-gradient(90deg, rgba(0,51,153,1) 0%, rgb(0, 72, 255) 100%);
    padding: 10px;
    color:#B3B3B3;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
}

#window .content article h2,
#window .content article h3,
#window .content article h4,
#window .content article h5,
#window .content article h6 {
    background: rgb(0,51,153);
    background: linear-gradient(90deg, rgba(0,51,153,1) 50%, rgba(255,255,255,1) 100%);
    padding: 5px;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
}

#window .content article ul {
    padding-top: 5px;
    padding-bottom: 10px;
    list-style-type: disclosure-closed;
}

#window .content article ol li::marker {
    font-weight: bold;
    color: #003399;
    font-size: 16px;
}

#window .content article ol li {
    width: calc(100% - 20px);
}

#window .content article ol li::target-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

#window .content article code {
    background: #FFFFE1;
    padding: 10px;
    border: 1px solid black;
    display: block;
    font-family: "Fixedsys", "Trebuchet MS", "Tahoma";
    overflow-x: auto;
}
#window .content article .table {
    overflow: auto;
}

#window .content article table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#window .content article table thead {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,211,247,1) 100%);
}

#window .content article table tbody tr {
    border: 1px solid black;
}

#window .content article table tbody tr:hover {
    background: #FFFFE1;
}

#window .content article table thead tr th,
#window .content article table tbody tr td {
    text-align: center;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

#window .content a,
#window .content a:active,
#window .content a:hover {
    color: #215DC6;
    cursor: url("/wxp/cur/pointer.png"), pointer !important;
    font-weight: bold;
}

#window .information {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24px;
    font-size: 10pt;
}

#window .information span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #D8D2BD;
    border-right: 1px solid #D8D2BD;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Trebuchet MS", "Tahoma";
}

#window .information span strong {
    font-weight: bold;
    padding: 0 5px;
    font-family: "Trebuchet MS", "Tahoma";
}

#panel .bottom {
    color: #ffffff;
    background: #316AC5;
    font-size: 9pt;
    height: 30px;
    background: linear-gradient(180deg, 
        rgba(49,104,213,1) 2%, 
        rgba(56,136,233,1) 5%,
        rgba(73,147,230,1) 7%, 
        rgba(48,123,229,1) 12%, 
        rgba(40,106,221,1) 20%, 
        rgba(35,91,217,1) 85%, 
        rgba(25,65,165,1) 100%);
    display: flex;
    flex-direction: row;
}

#panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

#panel .left {
    width: 75px;
    height: 30px;
    background: linear-gradient(180deg, 
        rgba(54,126,54,1) 2%, 
        rgba(95,161,95,1) 5%,
        rgba(146,193,148,1) 7%, 
        rgba(79,154,79,1) 12%, 
        rgba(57,163,57,1) 20%,
        rgba(56,168,57,1) 87%,  
        rgba(54,126,54,1) 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel .left span {
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS", "Tahoma";
    text-shadow: black 0px 1px 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    display: block;
}

#panel .left:hover {
    cursor: url("/wxp/cur/pointer.png"), pointer;
    background: linear-gradient(180deg, 
        rgba(54,126,54,1) 2%, 
        rgba(77,178,77,1) 5%,
        rgba(74,183,74,1) 7%, 
        rgba(64,181,64,1) 12%, 
        rgba(69,201,69,1) 20%,
        rgba(56,168,57,1) 87%,  
        rgba(54,126,54,1) 100%);
}

#panel .left:hover span {
    cursor: url("/wxp/cur/pointer.png"), pointer;
}

#panel .center {
    flex: 1 0 auto;
}

#panel .right {
    min-width: 60px;
    height: 30px;
    background: linear-gradient(180deg, 
        rgba(9,91,201,1) 2%, 
        rgba(20,158,237,1) 5%,
        rgba(22,173,240,1) 7%, 
        rgba(22,173,240,1) 12%, 
        rgba(22,173,240,1) 20%, 
        rgba(20,158,237,1) 87%, 
        rgba(25,65,165,1) 100%);
    display: flex;
    border-left: 1px solid black;
    justify-content: center;
    align-items: center;
}

#panel .right #js_time {
    font-family: "Trebuchet MS", "Tahoma";
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}

#bsod, #bsod .dialog {
    background: #0000AA;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#bsod .dialog span,
#bsod .dialog .msg p,
#bsod .dialog .msg p a {
    font-family: "Fixedsys";
    color: white ;
}

#bsod .dialog span {
    background: #B3B3B3;
    color: #0000AA;
    padding: 2px 5px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#bsod .dialog .msg p {
    padding: 5px;
    text-align: center;
}

#bsod .dialog .msg p a {
    animation: blinker 1.5s linear infinite;
}

#spoiler_main {
    border: 1px solid #667BD8;
    margin-bottom: 10px;
}

#spoiler_main div .titlebar {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,211,247,1) 100%);
    border-radius: 0;
}

#spoiler_main div .titlebar .title {
    color: #215DC6;
    font-weight: bold;  
}

#spoiler_main div .content {
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px;
    background: #D6DFF7;
    color: black;
    width: calc(100% - 10px);
}

#spoiler_main div .titlebar .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: url("/wxp/cur/pointer.png"), pointer;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    #desktop #js_menu {
        height: 100%;
    }

    #js_menu .top img {
        width: 32px;
        height: 32px;
    }

    #desktop #content .page {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #desktop #content .page #window {
        width: 100%;
        height: calc(100% - 30px);
        border-radius: 0;
    }

    #desktop #content .page #window .titlebar {
        border-radius: 0;
    }

    #desktop #content .page #window .information {
        display: none;
    }

}

@media screen and (orientation: portrait) and (max-width: 600px) {
    #desktop #js_menu {
        width: 100%;
    }

    #js_menu .top img {
        width: 32px;
        height: 32px;
    }

    #desktop #content .page {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #desktop #content .page #window {
        width: 100%;
        height: calc(100% - 28px);
        border-radius: 0;
    }

    #desktop #content .page #window .titlebar {
        border-radius: 0;
    }

    #desktop #content .page #window .information {
        display: none;
    }

}


